// home page scss

.home-header-sec{
	.main-header{
		background: none;
		position: absolute;
		z-index: 999;
		top: 0;
		left: 0;
		right: 0;
	}
}
.home-banner{
	&:after{
		content: '';
		position: absolute;
		width: 50%;
		left: 0;
		top: 0;
		bottom: 0;
		background-color: $color-blue;
	}
	.caption-bx{
		padding: 6rem 0;
		min-height: calc(100vh - 50px);
		.page-title{
			font-size: 3.5rem;
			font-weight: bold;
		}
	}
}

//home-schedule-sec
.home-schedule-sec{
	.schedule-form{
		margin-right: initial !important;
	}
	.common-btn{
		&:hover,&:focus{
			animation: none;
		}
	}
}

// work-bx section
.work-bg-curve{
	background: url(../img/icon-background-line.png) center 130px no-repeat;
}
.work-bx{
	position: relative;
	padding: 1.5rem;
	@include common-transition;
	min-height: 415px;
	span{display: inline-block;}
	.icon{
		background: url(../img/icon-background.png) center no-repeat;
		background-size: contain;
		height: 130px;
		width: 130px;
		line-height: 130px;
		@include common-transition;
		img{
			max-width: 60px;
		}
		.blue-icon{display: none;}
	}
	.heading-dv{
		margin-top: 1.5rem;
		.sub-heading{
			font-size: 0.875rem;
		}
		.heading{margin: 0;}
	}
	.entry-txt{
		margin-top: 1.5rem;
		font-weight: 600;
		opacity: 0;
		height: 0;
		font-size: 0.875rem;
	}
	&:hover,&:focus{
		background-image: -moz-linear-gradient(33deg, #03c5cf 0%, #4facfe 100%);
		background-image: -webkit-linear-gradient(33deg, #03c5cf 0%, #4facfe 100%);
		background-image: -ms-linear-gradient(33deg, #03c5cf 0%, #4facfe 100%);
		color:$color-white;
		border-radius: 1rem;
		.icon{
			background: url(../img/white-shape.png) center no-repeat;
			background-size: contain;
			transform: translateX(-50px);
			.white-icon{display: none;}
			.blue-icon{display: inline-block;}
		}
		.entry-txt{
			opacity: 1;
			height: auto;
		}
	}
}

// meet-you-sec section
.meet-you-sec{
	.img-3{
		position: absolute;
		bottom: 0;
	}
}


//Save Money section
$primary: #47aff9;
$secondary: #a8a8a8;
$roundness: 5px;

$sliderHeight: 4px;
$handleSize: 30px;
$valueWidth: 100px;
$labelMarkerHeight: 12px;
.range-bx{
	.min-max{margin-top: -30px;}
	.rangeslider-wrap {
		padding-top: 100px;
	}

	.rangeslider {
		position: relative;
		height: $sliderHeight;
		border-radius: $roundness;
		width: 100%;
		background-color: $secondary;

		&__handle {
			transition: background-color .2s;
			box-sizing: border-box;
			width: $handleSize;
			height: $handleSize;
			border-radius: 100%;
			background-color: #fff;
			touch-action: pan-y;
			cursor: pointer;
			display: inline-block;
			position: absolute;
			z-index: 3;
			top: -($handleSize/2) + ($sliderHeight/2);
			box-shadow: 0 1px 3px rgba($primary, .5),
			inset 0 0 0 4px $primary;

			&__value {
				transition: background-color .2s, 
				box-shadow .1s,
				transform .1s;
				box-sizing: border-box;
				width: $valueWidth;
				text-align: center;
				font-weight: bold;
				color: $primary;
				left: -($valueWidth/2 - $handleSize/2);
				top: -55px;
				position: absolute;
				white-space: nowrap;
				border-bottom: 1px solid darken($secondary, 10%);
				&:before {
					content: " $";
				}
			}
		}

		&__fill {
			position: absolute;
			top: 0;
			z-index: 1;
			height: 100%;
			background-color: $secondary;
			border-radius: $roundness;
		}

		&__labels {
			position: absolute;
			width: 100%;
			z-index: 2;
			display: flex;
			justify-content: space-between;

			&__label {
				font-size: 0.75em;
				position: relative;
				padding-top: 15px;
				color: $secondary;
				&:first-child:before,
				&:last-child:before{ 
					height: $labelMarkerHeight;
					width: 2px;
				}

				&:first-child:before { background-color: $primary }
				&:last-child:before { background-color: $secondary }

				&:first-child { transform: translateX(-48%) }
				&:last-child { transform: translateX(48%) }
			}
		}

  // active state
  &.rangeslider--active {
  	.rangeslider__handle {
  		// &, *      { background-color: lighten($primary, 10%) }
  		// *:before  { border-top-color: lighten($primary, 10%) }
  	}

  	.rangeslider__handle__value { 
  		transform: translateY(-5px);
  	}
  }
}
}

.call-us-sec{
	padding-bottom: 3rem;
	.link-sec{
		padding-bottom: 13rem;
		.text{font-weight: 500;}
		.links a{
			margin: 0.5rem;
		}
	}

	.list-sec{
		margin-top: -125px;
		position: relative;
		.row{max-width: 700px;}
	}
	.mortgage-bx,
	.localbank-bx{
		font-size: 0.875rem;
		ul{
			li{
				position: relative;
				margin-bottom: 1rem;
				position: relative;
				padding-left: 1.5rem;
				&:before{
					font: normal normal normal 14px/1 FontAwesome;
					position: absolute;
					left: 0;
					top:7px;
				}
			}
		}
	}
	.mortgage-bx{
		padding: 4rem 1rem;
		ul{
			max-width: 300px;
			li{
				&:before{
					content: '\f00c';
				}
			}
		}
	}
	.localbank-bx{
		background-color: $color-white;
		border-radius: 0 1rem 1rem 0;
		padding: 2rem 1rem;
		ul{
			li{
				&:before{
					content: '\f00d';
				}
			}
		}
	}
}

// blog section
.blog-dv{
	position: relative;
	cursor: pointer;
	transition: all 0.3s ease-out;
	&:hover,&:focus{
		background-color: $color-white;
		@include box-shadow;
	}
	.img{
		position: relative;
		height: 250px;
		img{
			width: 100%;
			height: 100%;
			object-fit:cover;
		}
		.date{
			position: absolute;
			bottom: 0;
			left: 0;
			background-color: $color-gray;
			padding: 1rem;
			.day{
				font-size: 1.5rem;
				color: $color-black;
			}
			.month{
				font-size: 0.875rem;
				color: $color-blue;
			}
		}
	}
	.entry-txt{
		padding: 1.5rem 1rem;
		p{font-size: 0.875rem;}
	}
}
